services:
  app:
    build: .
    container_name: boss-app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: boss-db
    environment:
      MYSQL_DATABASE: boss_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"